@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@500&display=swap');
:root {
    --primary: #1e90ff;
    --lightcolor: #a6fafa;
    --darkcolor: #0818A8;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Enriqueta', serif;
}


#navbar{
    display: flex;
    background-color:  var(--primary);
    justify-content: center;
    height: 10vh;
    font-size: 30px;
    line-height: 10vh;
    align-items: center;
}
    .icon {
    margin: 0 20px;
}

#container{
    height: 85vh;
    display: flex;
    background-color: aliceblue;
}

#toolbar{
    background-color: var(--lightcolor);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    
}

#projectsList {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}

.projectName {
    width: 90%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto 0;
    border-radius: 25px;
    text-align: center;
}
.projectName:hover{
    background-color: var(--primary);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: var(--lightcolor); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--darkcolor);
    height: 5px; 
  }
  

#toolbar h1 {
    color:  var(--darkcolor);
    text-indent: 1rem ;
    margin: 1rem 0 ;
}

.toolbaritem {
    min-height: 8vh;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 20px;
}
.toolbaritemWborder{
    border-bottom: 1px solid var(--darkcolor);
}
.toolbaritem:hover {
    background-color: var(--darkcolor);
    color: whitesmoke;
    cursor: pointer;
}

.toolbaritemActive {
   text-decoration: underline;
}

footer {
    background-color: black;
    color: whitesmoke;
    height: 5vh; 
    font-size: 15px;
    text-align: center;
    line-height: 5vh;
}

a{
    text-decoration: none;
    color: aliceblue    ;
}

#display {
    width: 100%;
    overflow-y: auto;
    padding: 25px 35px;
}


#addProjectForm{
   width: 100%;
}
.incomplete{    
    color: red;

}

span{
    font-weight: bold;
    white-space:pre;
}
.complete{
    color: green;
}

.projectFormErr{
    color: darkred;
    display: block;
}
#projectFormSuccess{
    color: var(--darkcolor);
    display: block;
}

.displaynoneclass{
    display: none !important;
}







